button {
  margin-right: 10px;
}

.container-fluid {
  padding: 0px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:10px;
  border: 10px solid blue;
}

.tarotCardContainer {
  padding-top: 6%;
  width: 100%;
  height: auto;
}

.cardsContainer {
  width: 100%;
}

.tarotCard {
  border: 10px solid green;
  height: 500px;
  margin: auto;
  margin-bottom: 10px;
}

img {
  height: 100%;
  width: 100%;
  border-radius: 22px;
}

/* entire container, keeps perspective */
.flip-container {
  margin-left: auto;
  margin-right: auto;
	perspective: 1000px;
  display: inline-block;
  position: relative;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 300px;
	height: 500px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
  animation-duration: 2s;
  animation-name: slidein;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@keyframes slidein {
  from {
    margin-left: 400%;
    width: 900%
  }
  to {
    margin-left: 0%;
    width: 100%
  }
}
