body {
  background-color: rgb(31, 31, 31);
}

button {
  margin-right: 10px;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.25em;
}
.logo {
  height: 35px;
  box-shadow: none;
}

.appName {
  font-family: 'Aladin', cursive;
  font-size: 50px;
}

.menuButtons {
  margin-left: auto;
  margin-right: 0px;
  font-family: 'Aladin', cursive;
  font-size: 20px;
  padding-right: 1.25em;
}

.nav-item {
  padding: 10px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap:10px;
  /*border: 10px solid blue;*/
}

.tarotCardContainer {
  padding-top: 6%;
}

.cardImage {
  height: 100%;
  width: 100;
  border-radius: 22px;
  box-shadow: 10px 5px 5px rgb(25, 25, 25);
}

/*Dimmer card views*/
.dimmerView{
  padding-top: 8%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  animation: fadein;
}


.dimmerImage{
  width: auto;
  height: 600px;
  grid-column: 1;
  grid-row: 1 / 4;
}

.dimmerTitle {
  grid-column: 2 / 4;
  grid-row: 1;
  text-align: center;
  font-family: 'Aladin', cursive;
  font-size: 50px;
}

.dimmerInfo {
  grid-column: 2 / 4;
  grid-row: 2;
  font-family: 'Aladin', cursive;
  text-align: center;
  font-size: 30px;
}

.dimmerFooter {
  grid-column: 2 / 4;
  grid-row: 3;
  text-align: center;
}
/* entire container, keeps perspective */
.flip-container {
  margin-left: auto;
  margin-right: auto;
	perspective: 1000px;
  position: relative;
  /*animation: slidein 2s;*/
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
	transform: rotateY(180deg);
}

.flip-container, .front, .back {
	width: 230px;
	height: 400px;
}

/* flip speed goes here */
.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

/* front pane, placed above back */
.front {
	z-index: 2;
	/* for firefox 31 */
	transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
}

@keyframes slidein {
  from {
    transform: translateX(400%)
  }
  to {
    margin-left: translateX(0%);
  }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}
